* {
  margin: 0px;
  padding: 0px; }

html, body, .container {
  width: 100%;
  height: 100%; }

body {
  position: relative; }

.tokens_clip text {
  clip-path: url(#myClip); }

.aa {
  fill: red;
  font-size: 50px;
  clip-path: url(#myClip); }

body {
  background-color: #2A363B; }

#root {
  width: 100%;
  height: 100%; }

.center {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 480px;
  height: 174px;
  margin: auto; }

.motion-1 {
  font-size: 50px;
  font-family: Helvetica;
  font-weight: 700;
  color: #fff; }
  .motion-1 .dummy {
    visibility: hidden;
    position: absolute;
    font-size: 0px; }
    .motion-1 .dummy li {
      display: inline-block;
      padding: 0 5px;
      font-size: 50px; }
  .motion-1 svg {
    position: absolute; }
  .motion-1 ul {
    width: 500px; }
  .motion-1 .text-1, .motion-1 .text-2 {
    position: absolute;
    top: 0px;
    left: 0px; }
    .motion-1 .text-1 li, .motion-1 .text-2 li {
      display: inline-block;
      padding: 0 6px; }
  .motion-1 .text-1 li {
    color: #ffffff;
    background-color: #3EC1D3; }
  .motion-1 .text-2 li {
    color: #ffffff;
    background-color: #E84A5F; }

.init-scale0 {
  position: absolute;
  clip: rect(0px, 0px, 60px, 0px); }

.init-scale1 {
  position: absolute;
  clip: rect(0px, 300px, 60px, 0px); }

@-webkit-keyframes scale0 {
  0% {
    clip: rect(0px, 0px, 60px, 0px); }
  100% {
    clip: rect(0px, 300px, 60px, 0px); } }

@-webkit-keyframes scale1 {
  0% {
    clip: rect(0px, 300px, 60px, 0px); }
  100% {
    clip: rect(0px, 0px, 60px, 0px); } }

.init-transY {
  transform: translateY(200%) rotate(5deg) translateX(20px); }

@-webkit-keyframes transY {
  0% {
    transform: translateY(200%) rotate(5deg) translateX(20px); }
  100% {
    transform: translateY(0%) rotate(0deg) translateX(0px); } }
