@font-face {
  font-family: "LemonMilk";
  src: url("./fonts/LemonMilk.otf") format("opentype"); }

@font-face {
  font-family: "LemonMilk-light";
  src: url("./fonts/LemonMilklight.otf") format("opentype"); }

@font-face {
  font-family: "LemonMilk-bold";
  src: url("./fonts/LemonMilkbold.otf") format("opentype"); }

/*

  @include max-width-screen($MOBILE-WIDTH) {
    //something
  }

*/
* {
  margin: 0px;
  padding: 0px; }

html, body, .container {
  width: 100%;
  height: 100%; }

body {
  position: relative; }

.tokens_clip text {
  clip-path: url(#myClip); }

.aa {
  fill: red;
  font-size: 50px;
  clip-path: url(#myClip); }

body {
  background-color: #000; }

.borderBtn {
  font-family: "LemonMilk",sans-serif;
  font-size: 12px;
  letter-spacing: 1.9px;
  font-weight: normal;
  line-height: 1;
  cursor: pointer;
  display: inline-block;
  border: solid 2px #ffffff;
  color: #fff;
  position: relative;
  overflow: hidden; }
  .borderBtn .borderBtn--text {
    transition: transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
    padding: 8px 10px;
    transform: translateY(0%); }
  .borderBtn .borderBtn--fill {
    background-color: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transition: transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
    transition-delay: 0ms;
    transform: translateY(250%) rotate(25deg) scaleX(1.4); }
  .borderBtn .borderBtn--fillText {
    color: #000000;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 8px 10px;
    width: 100%;
    height: 100%;
    transition: transform 500ms cubic-bezier(0.19, 1, 0.22, 1);
    transition-delay: 0ms;
    transform: translateY(100%); }
  .borderBtn:hover .borderBtn--text {
    transform: translateY(-100%); }
  .borderBtn:hover .borderBtn--fill {
    transform: translateY(0%) rotate(0deg) scaleX(1.4);
    transition-delay: 100ms; }
  .borderBtn:hover .borderBtn--fillText {
    transform: translateY(0%);
    transition-delay: 200ms; }

.textEffect {
  font-family: "LemonMilk",sans-serif;
  font-size: 20px;
  letter-spacing: 1.9px;
  font-weight: normal;
  line-height: 1;
  cursor: pointer;
  display: inline-block;
  color: #fff;
  position: relative;
  overflow: hidden; }
  .textEffect .textEffect--text span {
    display: inline-block;
    min-width: 8px;
    margin-right: 2px;
    transform: translateY(100%);
    transition: transform 500ms cubic-bezier(0.19, 1, 0.22, 1); }
  .textEffect.isAct .textEffect--text span {
    transform: translateY(0%); }

#root {
  width: 100%;
  height: 100%; }

.center {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 480px;
  height: 174px;
  margin: auto; }
